@charset "UTF-8";

$pagename: 'about';

#page_#{$pagename} {
  .about {
    &__move {
      &ConceptTxt {
        font-size: 14px;
        letter-spacing: ls(80);
        line-height: 38px;
        width: 650px;
        margin: 0 auto;
        text-align: center;
        @include breakpoint-down(md) {
          @include fz(14, 38, 1366);
          width: vw(650, 1366);
        }
        @include breakpoint-down(sm) {
          @include fz(12, 28);
          width: 100%;
        }
      }
      &AccessContent {
        margin-top: 64px;
        @include breakpoint-down(md) {
          margin-top: vw(64, 1366);
        }
        @include breakpoint-down(sm) {
          margin-top: vw(56);
        }
        iframe {
          height: 350px;
          line-height: 29px;
          @include breakpoint-down(md) {
            @include fz(14, 29, 1366);
            height: vw(350, 1366);
          }
          @include breakpoint-down(sm) {
            @include fz(14, 24);
            height: vw(200);
          }
        }
      }
      &Profile {
        &Content {
          display: flex;
          @include breakpoint-down(sm) {
            flex-direction: column-reverse;
          }
        }
        &Subtit {
          font-size: 12px;
          line-height: 29px;
          @include breakpoint-down(md) {
            @include fz(12, 29, 1366);
          }
          @include breakpoint-down(sm) {
            @include fz(10, 24);
            margin-top: vw(30);
          }
        }
        &Name {
          font-size: 32px;
          margin-top: 26px;
          line-height: 29px;
          @include breakpoint-down(md) {
            @include fz(32, 29, 1366);
            margin-top: vw(26, 1366);
          }
          @include breakpoint-down(sm) {
            @include fz(22, 20);
            margin-top: vw(15);
          }
        }
        &Txt {
          font-size: 14px;
          margin-top: 70px;
          line-height: 38px;
          @include breakpoint-down(md) {
            @include fz(14, 38, 1366);
            margin-top: vw(70, 1366);
          }
          @include breakpoint-down(sm) {
            @include fz(12, 28);
            margin-top: vw(54);
          }
        }
        &Image {
          width: 200px;
          margin-left: auto;
          @include breakpoint-down(md) {
            width: vw(200, 1366);
          }
          @include breakpoint-down(sm) {
            width: 100%;
          }
        }
      }
    }
  }
}
